.beer-card {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 15rem;
  box-sizing: border-box;
  border: 3px solid aliceblue;
  padding: 10px;
  background: #ffdd00;
  transform-style: preserve-3d;
  transition: 500ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  margin: 30px;
}

.front {
  display: flex;
  width: 70%;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beer-card-image-container {
  display: flex;
  flex-direction: column;
  height: 40%;
}

.beer-card-front-details {
  border: 2px solid #000000;
  text-align: center;
  height: 60%;
  width: 100%;
  margin-top: 1rem;
}

.sounds-good {
  text-align: center;
}

.save-to-try-later-button,
.go-back-button {
  margin-top: 1rem;
  margin-left: 2rem;
  background: #000000;
  color: aliceblue;
  border-radius: 50px;
}

.go-back-button {
  margin-top: 1rem;
  margin-left: 4rem;
}

.beer-card:hover {
  --translate-y: -2px;
  opacity: 1;
  cursor: pointer;
}

.beer-card.flip {
  --rotate-y: 180deg;
}

.beer-card .front, 
.beer-card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.beer-card .back {
  transform: rotateY(180deg);
}

