.beer-card {
  height: 33rem;
  width: 15rem;
  box-sizing: border-box;
  border: 3px solid aliceblue;
  padding: 10px;
  background: #ffdd00;
  transform-style: preserve-3d;
  transition: 500ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));

}

.front {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sounds-good {
  margin-left: 3rem;
}

.save-to-try-later-button,
.go-back-button {
  margin-top: 1rem;
 margin-left: 2rem;
}

.go-back-button {
  margin-top: 1rem;
  margin-left: 4rem;
}

.beer-card:hover {
  --translate-y: -2px;
  opacity: 1;
  cursor: pointer;
}

.beer-card.flip {
  --rotate-y: 180deg;
}

.beer-card .front, 
.beer-card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.beer-card .back {
  transform: rotateY(180deg);
}
